@keyframes myAnimation {
  0% {
  }
  25% {
    left: 20px;
  }
  50% {
    top: 20px;
  }
  75% {
    right: 20px;
  }
}
div.box:nth-child(odd) {
  animation-name: myAnimation;
  animation-duration: 10s;
  position: relative;
}
div.box:nth-child(2),
div.box:nth-child(4) {
  background-color: green;
  background-image: linear-gradient(45deg, green, yellow);
}
