body {
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.box {
    width: 100px;
    height: 100px;
    border-top: 1px solid #687291;
    text-align: center;
    line-height: 100px;
}

.box:nth-child(odd) {
    background-color: #dfe1e7;
}

.box:nth-child(even) {
    background-color:#eeeff2;
}

.box:last-child {
    background-color: 687291;
    border: 4px solid black;
    line-height: normal;
    text-align: center;
}